/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skill-icon {
    @apply btn btn-square btn-lg w-24 h-24 p-0;
  }
}